.title {
  text-align: center;
  font-size: 40px;
}

.signin-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-bar {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
}

.img-container {
  border: 1px solid blue;
  padding: 2rem;
}

.user-description {
  border: 1px solid blue;
  padding: 2rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.user-list {
  display: flex;
  gap: 1rem;

}